.cover{
    position: relative;
    height: 90vh;

    .featured_movie_action{
        width: 100%;
        height: 100%;
        background-position: center;
        object-fit: cover;
    }

    .movie_details{
        position: absolute;
        width: 35%;
        top: 25%;
        left: 5%;
        display: flex;
        flex-direction: column;
        
        img{
            width: 70%;
            height: auto;
        }
        .discription{
            margin: 5% 0%;
            font-size: 15px;
            color: white;
        }
        .btn-group{
            display: flex;

            button{
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 5px;
                margin-right: 2%;
                padding: 2% 6%;
            }

            .play_btn {
                color: black;
                background-color: white;
            }
            .info_btn {
                background-color: grey;
                color: white;
            }
            .stop_btn {
                background-color: grey;
                color: white;
            }
        }
    }
}